canvas {
    width: 100%;
    height: 100%;

    position: absolute;
    object-fit:cover;
}

body{
  overflow:hidden;
}

.header-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding:10px;
  width: 100%;

  height: 80px;
  line-height: 30px;

  font-family: 'Courier New', Courier, monospace;
  font-weight:600;
  font-size: 16px;
  color: white;

  position: absolute;
  background: rgba(0,0,0,0.8);
}

.header-subcontainer{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.lost-in-translation-text{
  margin-left:100px;
}

.play-btn{
  width:30px;
  height:30px;
  margin-right:40px;
  cursor:pointer;
}
.countdown-container{
  margin-right:100px;
}

.contact-links-container{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: flex-end;
  width:100%;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 25px;
}

.contact-links-icon{
  width:33%;
  height:60%;
}

.email-container{
  margin-top: 7px;
}

.email{
  text-decoration:none;
  color:white;
}


.footer-container {

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;

  bottom: 0;
  height: 80px;
  line-height: 30px;
  
  font-family: 'Courier New', Courier, monospace;
  font-weight:600;
  font-size: 16px;
  color: white;
  
  margin-right: 100px;
}
